:root {
    --body-background-color: #001716;
    --body-text-color: #f0ffff;
    --card-background-color: oklch(21% 0.034 264.665);
    --nav-background-color: oklch(27.8% 0.033 256.848);
    --nav-border-bottom-color: oklch(37.3% 0.034 259.733);
    --nav-current-border-bottom-color: #00b5eb;
    --card-border-color: oklch(37.3% 0.034 259.733);
    --down-border-left-color: #eb3b5a;
    --down-background-color: #6b1020;
    --degraded-border-left-color: #f7b731;
    --up-border-left-color: #20bf6b;
    --tag-color: #002b29;
    --tag-up-background-color: #20bf6b;
    --tag-down-background-color: #eb3b5a;
    --tag-degraded-background-color: #f7b731;
    --change-background-color: #f7b731;
    --error-button-border-color: #1a46ad;
    --error-button-background-color: #3867d6;
    --error-button-color: #ffffff;
    --submit-button-border-color: #1a46ad;
    --submit-button-background-color: #3867d6;
    --submit-button-color: #ffffff;
    --graph-opacity: 1;
    --graph-filter: none;
}
